{% extends "base.html" %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us ...</h1>
            <p class="lead fw-normal text-white-50 mb-0">This is our website ...</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    <br><br>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt numquam corrupti quo ducimus veritatis quasi quis enim explicabo ut atque dolor commodi sint error vero quaerat nemo illo, recusandae natus.
                    <br>
                    Dolores sed, accusantium magni optio omnis ullam neque eaque laudantium pariatur quaerat esse rem rerum, eveniet sint excepturi maxime. Nostrum sint aliquid illo libero necessitatibus. Officia recusandae ullam odio aliquid?
                    <br>
                    Quos necessitatibus soluta molestias fugiat id totam corporis tenetur sunt quia cupiditate labore eius itaque aut provident architecto voluptatum fugit velit mollitia, maxime optio. Esse pariatur praesentium cumque cupiditate at?
                    <br>
                    Est maxime a aliquid rerum quod veritatis numquam laudantium quis nemo quidem magni dolorem perferendis eum pariatur, repellendus quos porro quibusdam voluptatem fugit quo fuga nostrum quasi deserunt voluptates. Aspernatur!
                    <br>
                    Excepturi illum ab nobis quidem? Autem illum tempora enim velit ratione, ullam qui ex quo corrupti, rem officiis itaque dolore, numquam earum deleniti explicabo provident! Est labore facilis placeat recusandae?
                    <br><br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock content %}